* {
  padding: 0;
  margin: 0;
}

#box {
  width: 100%;
  height: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#box #one {
  margin-left: 20px;
  padding: 10px;
  width: 450px;
  height: 600px;
  overflow: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#box #one li {
  border-radius: 5px;
  width: 190px;
  padding: 10px;
  padding-bottom: 0;
  height: 270px;
  background: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
}

#box #one li img {
  width: 190px;
  height: 190px;
  padding-bottom: 5px;
}

#box #one li p {
  display: flex;
  align-items: center;
}

#box #one li p span {
  display: block;
  width: 50px;
  height: 17px;
  background: red;
  color: white;
  text-align: center;
  font-size: 13px;
  line-height: 17px;
  border-radius: 17px;
}

#box #one li p b {
  font-size: 18px;
}

#box #one li p a {
  color: gray;
  font-size: 13px;
}

#box #one li p a:last-child {
  margin-left: 5px;
}

#box #one li div {
  margin-top: 5px;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12.2px;
  color: #3f3e3e;
}

#box #two {
  width: 900px;
  height: 600px;
}

#box #two h3:first-child {
  font-weight: 900;
  color: #dd307f;
  letter-spacing: 2px;
  position: relative;
  padding: 0 0 15px 0;
  border-bottom: 2px solid #cac8c8;
}

#box #two h3:first-child span {
  width: 167px;
  height: 3px;
  background: #dd307f;
  display: block;
  position: absolute;
  bottom: 0;
}

#box #two h3:first-child b {
  margin-left: 10px;
}

#box #two .two_con {
  width: 100%;
  height: 550px;
  padding-top: 10px;
}

#box #two .two_con .con_one {
  width: 99.6%;
  height: 40px;
  background: #f9f9f9;
  border: 1px solid #dad7d7;
  line-height: 40px;
  color: #4b4a4a;
  font-weight: 600;
  display: flex;
}

#box #two .two_con .con_one span {
  display: block;
  width: 19%;
  text-align: center;
}

#box #two .two_con .con_one span:nth-child(1) {
  width: 45%;
}

#box #two .two_con ul {
  width: 99.3 0.5%;
  padding: 0;
  border: 1px solid #dad7d7;
  height: 320px;
  margin-top: 10px;
  overflow: auto;
}

#box #two .two_con ul li {
  margin-bottom: 10px;
  width: 100%;
  list-style: none;
  height: 80px;
  padding: 12px 0;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
  display: flex;
}

#box #two .two_con ul li div {
  height: 100%;
  width: 19%;
}

#box #two .two_con ul li div img {
  height: 80px;
  width: 80px;
}

#box #two .two_con ul li div:first-child {
  width: 45%;
  display: flex;
  align-items: center;
}

#box #two .two_con ul li div:first-child input {
  margin: 0 20px;
}

#box #two .two_con ul li div:first-child span {
  width: 160px;
  height: 80px;
  padding-top: 20px;
  font-size: 13px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 14px;
}

#box #two .two_con ul li div:nth-child(2) span {
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
  color: #dd307f;
  font-weight: bold;
}

#box #two .two_con ul li div:nth-child(3) {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

#box #two .two_con ul li div:nth-child(3) button {
  width: 20px;
  height: 20px;
}

#box #two .two_con ul li div:nth-child(3) span {
  text-align: center;
  width: 30px;
  display: block;
  height: 18px;
  color: #363636;
  font-size: 14px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

#box #two .two_con ul li div:nth-child(4) {
  display: flex;
  justify-content: center;
}

#box #two .two_con ul li div:nth-child(4) svg {
  margin-top: 20px;
}

#box #two .two_con ul li div:nth-child(4) svg:hover path {
  fill: red;
}

.js_box {
  width: 99.8%;
  height: 150px;
  border: 1px solid #dad7d7;
  margin-top: 20px;
}

.js_box .js_two {
  width: 100%;
  height: 40px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: end;
}

.js_box .js_two a {
  color: #4e4e4e;
  font-size: 13px;
  padding-right: 30px;
}

.js_box .js_two button {
  border: none;
  height: 40px;
  width: 180px;
  background-color: #dd307f;
  color: white;
  font-weight: bold;
}

.js_box .js_two button span {
  padding: 0 5px;
  font-size: 13px;
}

.js_box .js_one {
  width: 95%;
  padding: 0 2.5%;
  height: 110px;
  display: flex;
  justify-content: space-between;
}

.js_box .js_one select {
  height: 25px;
  border: 2px solid #dd307f;
  border-radius: 4px;
  color: #dd307f !important;
  outline-style: none;
  padding: 0 5px;
  margin-top: 20px;
  left: 20px;
}

.js_box .js_one div li {
  font-size: 14px;
  padding: 3px 0;
  list-style: none;
  width: 260px;
  color: #616161;
  display: flex;
  align-items: center;
}

.js_box .js_one div li a {
  color: #302f2f;
  font-weight: bold;
  text-align: center;
}

.js_box .js_one div li span {
  color: #302f2f;
  font-weight: bold;
  font-size: 15px;
  margin-left: 30px;
}

.js_box .js_one div li:nth-child(1) {
  margin-top: 10px;
}
